<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body>
  <header style="margin: 0px; padding: 20px; background-color: #c0dfd9;">
    <h1 style="color: white; text-align: center; font-size: 80px">TinyApp</h1>
  </header>
  <p>

    <% if(username){ %>
    <p>
      <h3><%= username %></h3>
      <form method="POST" action="/logout">
        <button type="submit">Logout</button>
      </form>
    </p>
    <% } else { %>
    <form method="POST" action="/login">
      <input id="username" type="text" name="username" placeholder="Enter username">
      <button type="submit">Sign in</button>
    </form>
    <form method="POST" action="/register">
      <button class="button" type="submit">Register</button>
    </form>
    <% } %>


  </p>
</body>
</html>