<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <p><h1>TinyApp</h1></p>
  </header>
  <p>
    <form method="POST" action="/login">
      <input id="id" type="text" name="username" value="Enter username">
      <button type="submit">Sign in</button>
    </form>
  </p>
</body>
</html>