<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body>
  <ul>
    <% for (let urlName in urls) { %>
      <li><%= urlName %> : <%= urls[urlName] %></li>
    <% }; %>
  </ul>
  <a href='#'></a>
</body>
</html>