<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <form method="POST" action="/urls/<%= shortURL %>">
    <div>
    <h2 style="font-family:Roboto; color: #878787; font-weight:100;">ShortURL: <%= shortURL %></h2>
    <input type="text" name="longURL" value="Enter new URL">
    <button type="submit">Update</button>
  </div>
  </form>
</body>
</html>