<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body>
  <header style="margin: 0px; padding: 20px; background-color: #c0dfd9;">
    <h1 style="color: white; text-align: center; font-size: 80px">TinyApp</h1>
  </header>
    <form method="POST" action="/register">
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email">
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
      </div>
      <div>
        <button class="button" type="submit">Register</button>
      </div>
    </form>
</body>
</html>