<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
    <p>
      <h2>ShortURL: <%= shortURL %></h2>
    </p>

  </header>
        <form method="POST" action="/urls/<%= shortURL %>/delete">
          <input id="id" type="text" name="longURL" value="Enter new URL">
          <button type="submit">Update</button>
        </form>
</body>
</html>